.post {
  display: flex;
  flex-direction: column;
  border: 1.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.11) !important;
}

.post_Header {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post_HeaderName {
  margin-left: 20px !important;
}

.post__Image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.post__footer {
  display: flex;
  flex-direction: column;
}

.post__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.12);
}

.post__footerText {
  padding: 10px;
  padding-top: 5px;
}
